DB_HOST=localhost
DB_USER=tutoring_user
DB_PASSWORD=your_strong_password_here
DB_NAME=tutoring_system
SECRET_KEY=your_cryptographically_random_256bit_key_here
ALLOWED_ORIGIN=http://localhost
FLASK_DEBUG=false
